@model IEnumerable<XPelum.Models.Assessoria>

@*@{
    ViewData["Title"] = "Home Page";
}*@
<div class="text-light bg-dark luciano-hulk row carousel">
    <div class="container">
        <div class="row mt-banner-2">
            <div class="col-6 align-self-center">
                <img class="frase-luciano d-block" src="~/img/frase-luciano-huck-previdencia.svg" alt="Alternate Text" />
                <button class="btn btn-warning mt-3 centralizado ml-5 text-uppercase">Invista em Previdência</button>
            </div>
            <div class="col-6 form-luciano">
                <form class="form-group" action="/" method="post">
                    <input class="form-control" type="text" name="name" value="" placeholder="Nome" /> <br />
                    <input class="form-control" type="email" name="name" value="" placeholder="Email" /> <br />
                    <input class="btn btn-primary" type="submit" name="name" value="Abra sua conta" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="bg-light ">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-4">
                <h2>Assessoria <br /> especializada</h2>
                <p>Independente do seu perfil, na XP você conta com uma assessoria de investimentos especializada de verdade.</p>
            </div>
            <div class="col-4">
                <h2>Taxa Zero</h2>
                <p>Esqueça as taxas mensais do banco. A XP oferece taxa zero para abertura e manutenção de conta.</p>
            </div>
            <div class="col-4">
                <h2>Portfólio completo</h2>
                <p>Na XP, você tem acesso a investimentos que nunca imaginou, por meio de um dos maiores portfólios de produtos do mercado.</p>
            </div>
        </div>
    </div>
</div>

<div class="bg-cinza">
    <div class="container">
        <div class="row">
            <div class="col-7 pt-5 pb-5">
                <h2>Conheça o Portal de Clientes da XP.</h2>
                <h4>Uma nova experiência criada para um novo jeito de investir</h4>
                <ul>
                    <li>Tenha uma visão geral de todos os seus investimentos em uma única tela.</li>
                    <li>Veja recomendações de produtos adequados ao seu perfil de investidor.</li>
                    <li>Acompanhe a performance e o histórico de suas aplicações de maneira simples e intuitiva.</li>
                </ul>
                <button class="btn btn-outline-warning text-dark">Acesse o Portal</button>
            </div>
            <div class="col-5">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/PmDNlm6nMgQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container">
        <div class="row pt-5">
            <div class="col-5 pl-5">
                <img src="~/img/taxa-zero.png" alt="Taxa zero" />
            </div>
            <div class="col-7">
                <p>
                    Na XP, você não paga nada para abrir e manter sua conta e tem isenção de taxas para custódia de Renda Fixa, custódia de Bolsa, custódia de COE, Tesouro Direto (taxa XP) e tarifas de TED para retiradas. Mais do que um diferencial, isso é reflexo do nosso compromisso com a transparência e com os resultados dos nossos clientes.
                </p>
                <button class="btn btn-outline-warning text-dark">Saiba Mais</button>
            </div>
        </div>
    </div>
</div>



<div class="bg-white">
    <div class="container">
        <div class="row mt-3">

            @foreach (var item in Model)
            {
                <div class="col-md-3 mt-4 card meu-card">
                    <img class="card-img-top" src="~/img/@Html.DisplayFor(modelItem => item.Imagem)" alt="Acessoria Private" />
                    <h3 class="display-3">Assessoria <br /> @Html.DisplayFor(modelItem => item.Nome)</h3>
                    <div>
                        <p class="mt-5 font-weight-bold">
                            @Html.DisplayFor(modelItem => item.Investimento)
                        </p>
                    </div>
                    <div class="mt-2 mb-5">
                        <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                    <div class="btn-investimento mt-5">
                        <button class="btn btn-outline-warning text-dark mb-3 ">Saiba mais</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

